header {
    flex-direction: row;
    justify-content: flex-start;
    background-color: darkorange;
    border: 2px solid black;
    height: 170px;
    margin: 1%;
}

main {
    display: flex;
    justify-content: flex-start;
    margin: 1%;
    height: 10px;
    flex-direction: row;
    height: 5px;



}

.one {
    flex-basis: 5%;
    background-color: mediumorchid;
    border: 1px solid black;
    padding: 1%;
    width: 20px;
    margin-right: 1%;
    margin-top: 20px;

}

.two {
    flex-basis: 5%;
    background-color: mediumorchid;
    border: 1px solid black;
    padding: 1%;
    width: 20px;
    margin-right: 1%;
    margin-top: 20px;
}

#three {
    flex-basis: 5%;
    background-color: mediumorchid;
    border: 1px solid black;
    padding: 1%;
    width: 20px;
    margin-right: 1%;
    margin-top: 1px;
}

#four {
    flex-basis: 5%;
    background-color: mediumorchid;
    border: 1px solid black;
    padding: 1%;
    width: 20px;
    margin-right: 1%;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 170px;
    margin-top: 5%;
    margin: 1%;
    margin-top: 3%;
}

.five {
    flex-basis: 13%;
    border: 2px solid black;
    background-color: gray;
    margin-right: 1%;
}

.six {
    flex-basis: 85%;
    border: 2px solid black;
    background-color: green;
    justify-content: space-between;
}

footer {
    flex-direction: row;
    justify-content: flex-start;
    background-color: dodgerblue;
    border: 2px solid black;
    height: 170px;
    margin: 1%;
}

#ezekiel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0%;
    height: 10px;


}